@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Heartly Welcome all to Mr.Yash's Calculator</h1>
    <h2 class="hh">Mr. Yash Calculator

The Mr. Yash Calculator, developed in C#, is a user-friendly and efficient tool for performing basic and advanced arithmetic operations. With a sleek interface and accurate calculations, it caters to both everyday users and professionals needing quick mathematical solutions.</h2>
    <p>Learn about <a href="https://github.com/Yashchauhan54">Learn Everything you want to build new Web apps and different java project with Mr.Yash</a>.</p>
</div>